#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.icon-color {
  color: #9c0084;
  margin: 0 .5rem;
}

.form {
  padding: 3rem;
  border: solid #000000 1px;
  border-radius: 1rem;
  background-color: #000000;
  color: #d8d8d8;
  box-shadow: 0 0 20px 8px #9c0084;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  background-color: #9c0084;
  color: #d8d8d8;
  border: #000000;
  border-radius: .5rem;
  padding: .4rem;
}

